run = "bash start.sh"
entrypoint = "start.sh"
modules = ["nodejs-20", "web", "bash"]

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 3001
externalPort = 80

[deployment]
build = ["npm", "install", "--prefix", "backend", "--omit=dev"]
run = ["bash", "start.sh"]
deploymentTarget = "cloudrun"
